div.upper_text {
      font-size: 30px;
      text-align: center;
      font-family: helvetica;
    }
    div.main_text {
      text-decoration: none;
      text-align: left;
      font-size: 22px;
      font-family: helvetica;
    }
    div.bottom {
      width: 100%;
      bottom: 0%;
      position: fixed;
      font-size: 15px;
      font-family: helvetica;
    }
    div.bottom_link {
      position: fixed;
      bottom: 5%;
    }
